venv
generate_semantic_tags/data/dataset_description.pickle
*.pkl
chroma_db/
*.sqlite3
*.pkl
*.pyc
*.DS_Store
*.ipynb_checkpoints
*.csv
serving/data/
serving/data/*
tools/data/*
**/__pycache__/
**/*.ipynb_checkpoints/
*checkpoint*
*.pid
tools/data/
tools/data/*
.idea/
!evaluation_results.csv
*.json
*.db
!config.json
.venv/
*.bin
